@model IEnumerable<Category>


@foreach (var category in Model)
{
    <input type="hidden" name="categoryId" value="@category.CategoryId"/>
    <a class="p-2 link-secondary" href='@Url.Action( "Index","Home", new {  categoryId = category.CategoryId })'>@category.CategoryName</a>

}
